@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-19.5px);
              transform: translateY(-19.5px); }
    60% {
      -webkit-transform: translateY(-9.75px);
              transform: translateY(-9.75px); } }
  
  @-webkit-keyframes bounce--centered {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    40% {
      -webkit-transform: translateY(-50%) translateY(-19.5px);
              transform: translateY(-50%) translateY(-19.5px); }
    60% {
      -webkit-transform: translateY(-50%) translateY(-9.75px);
              transform: translateY(-50%) translateY(-9.75px); } }
  
  @keyframes bounce--centered {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    40% {
      -webkit-transform: translateY(-50%) translateY(-19.5px);
              transform: translateY(-50%) translateY(-19.5px); }
    60% {
      -webkit-transform: translateY(-50%) translateY(-9.75px);
              transform: translateY(-50%) translateY(-9.75px); } }